.lifecycle {
  text-align: center;

  .lifecycle-level-data {
    margin-bottom: $section-margin;
    text-align: left;
  }

  .versions {
    margin-bottom: $section-margin;

    button {
      width: 140px;

      @media screen and (max-width: 900px) {
        display: block;
        width: 100% !important;
      }

      &.unselected:not(:disabled) {
        background-color: $primary-font-color;
        color: $tertiary-background-color;
      }
    }
  }

  .definition {
    text-align: left;

    >h6 {
      margin: 0 0 $control-margin/2 0;
    }

    >textarea {
      min-height: 150px;
      width: 100%;
      height: calc((100vh - #{$area-margin} - #{$area-margin} - #{$section-margin} - #{$section-margin} - #{$section-margin} - #{$control-margin} - #{$control-margin} - #{$control-margin} - 19px - 19px - 48px - 48px) / 2);
      margin: 0 0 $control-margin 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .actions {
    margin-top: $section-margin;

    button {
      width: 140px;

      @media screen and (max-width: 900px) {
        margin: $section-margin 0 0 0;
        display: block;
        width: 100% !important;
      }
    }
  }

  .dialog {
    button {
      width: 140px;
    }
  }
}
