.list {
  >ul {
    >li {
      &:first-of-type {
        @if (lightness($primary-background-color) < 50) {
          color: mix(white, $call-to-action-color, 30%);
        }

        @else {
          color: mix(black, $call-to-action-color, 30%);
        }

        &:hover {
          color: $call-to-action-font-color;
        }

        >span {
          font-weight: bold;
          letter-spacing: 2px;
        }
      }

      >span {
        width: 100%;

        >input {
          width: 100%;
        }
      }
    }
  }

  .filter {
    padding: $control-margin * 2;
    border-top: $border-width solid $low-contrast-border-color;
    border-right: $border-width solid $low-contrast-border-color;
    border-left: $border-width solid $low-contrast-border-color;
    background-color: $primary-background-color;
    color: $primary-font-color;

    div {
      width: 100%;

      &.search {
        margin-bottom: $control-margin * 2;

        input {
          width: 100%;
        }
      }
    }
  }
}
