.segmented-control {
  height: 48px;

  button {
    height: 100%;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.selector {
      padding: 0;
      width: 48px !important;

      :first-child {
        height: 100%;
        width: 100%;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &.primary {
      @include call-to-action();
    }

    &.unselected:not(:disabled) {
      background-color: $primary-font-color;
      color: $tertiary-background-color;
    }

    &:hover:not(:disabled):not(.primary) {
      @include call-to-action(true);
      transition: 0;

      img {
        filter: invert(1);
      }
    }
  }
}
