.workspace {
  padding: $area-margin;

  .area {
    background-color: $secondary-background-color;
    color: $secondary-font-color;
    border-radius: $border-radius * 3;
    padding: $section-margin;
  }

  textarea:disabled {
    background-color: $secondary-background-color;
  }
}
