.event {
  text-align: center;

  .event-level-data {
    margin-bottom: $section-margin;
    text-align: left;
  }

  .versions {
    margin-bottom: $section-margin;

    button {
      width: 75px;

      &.primary {
        cursor: default;
      }

      &.secondary {
        width: 40px;
        padding: 0;
      }
    }
  }

  .maps {
    ul {
      padding: 0;
      margin: 0;

      li {
        h6 {
          width: 50%;
          display: inline-block;
          padding-left: $control-margin;
          padding-right: $control-margin;
        }

        input {
          width: 40%;
          margin-left: $control-margin;
          margin-right: $control-margin;
        }

        &.map:not(:last-child) {
          margin-bottom: $control-margin;
        }

        img {
          height: 32px;
          width: 32px;
          filter: invert(.3);
        }
      }
    }
  }

  .actions {
    margin-top: $section-margin;

    button {
      margin-left: $control-margin;
      margin-right: $control-margin;
      width: 140px;
    }
  }
}
