.list {
  >ul {
    >li {
      &:first-of-type {
        color: $call-to-action-color;

        >span {
          font-weight: bold;
          letter-spacing: 2px;
        }
      }

      &.inactive {
        >span {
          text-decoration: line-through;
        }
      }

      >span {
        width: 100%;

        >input {
          width: 100%;
        }
      }
    }
  }

  .filter {
    padding: $control-margin * 2;
    border-top: $border-width solid $low-contrast-border-color;
    border-right: $border-width solid $low-contrast-border-color;
    border-left: $border-width solid $low-contrast-border-color;
    background-color: $primary-background-color;
    color: $primary-font-color;

    div {
      width: 100%;

      &.search {
        margin-bottom: $control-margin * 2;

        input {
          width: 100%;
        }
      }

      &.inactives {
        label {
          margin: 0;
        }
      }
    }
  }
}
