$item-padding: $control-margin * 2;

.vertical-tabs {
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;

  >ul {
    border: solid $border-width $low-contrast-border-color;
    height: 100%;
    background-color: $primary-background-color;
    color: $primary-font-color;
    padding: 0;

    >li {
      padding: $item-padding;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      border-bottom: solid $border-width $low-contrast-border-color;
      transition: 0.3s;

      >span {
        height: 32px;
        display: inline-block;
        letter-spacing: 1px;
      }

      &:hover:not(.selected) {
        @include call-to-action(true);
      }

      &.selected {
        border-left: solid $border-width*5 $call-to-action-color;
        border-right: solid $border-width $primary-background-color;
        margin-left: -$border-width;
        margin-right: -$border-width;
        font-weight: bold;

        @if (lightness($primary-background-color) < 50) {
          color: mix(white, $call-to-action-color, 30%);
        }

        @else {
          color: mix(black, $call-to-action-color, 30%);
        }
      }
    }
  }
}
