$item-padding: $base-control-margin * 3;

.vertical-tabs {
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  ul {
    border: $base-border-width solid $base-border-color;
    height: 100%;
    background-color: #f1f1f1;
    padding: 0;

    li {
      padding: $item-padding;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: 0.3s;
      border-bottom: $base-border-width solid $base-border-color;

      &:hover {
        background-color: #ddd;
      }

      &.selected {
        background-color: $base-background-color;
        border-right: $base-background-color;
        margin-right: -$base-border-width;
        padding-right: $item-padding + $base-border-width;
      }
    }
  }
}
