$item-padding: $base-control-margin * 2;

.vertical-tabs {
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;

  > ul {
    border: $base-border-width solid $base-border-color;
    height: 100%;
    background-color: mix(white, $primary-gray, 80%);
    padding: 0;

    > li {
      padding: $item-padding;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: 0.3s;
      border-bottom: $base-border-width solid $base-border-color;

      &:hover {
        background-color: #ddd;
      }

      &.selected {
        background-color: $base-background-color;
        border-right: $base-background-color;
        border-left: solid $base-border-width*5 $call-to-action-color;
        margin-left: -$base-border-width;
        margin-right: -$base-border-width;
        padding-right: $item-padding + $base-border-width;
      }
    }
  }
}
