$base-color: #dbe9d8;
$secondary-color: #e05915;
$dark-font-color: black;
$base-background-color: white;
$base-font-color: $dark-font-color;
$base-font-size: 125%;
$base-font-family: "Lato", sans-serif;
$border-width: 2px;
$border-color: #ccc;