// colors
$base-color: #dbe9d8;
$secondary-color: #e05915;

$primary-background-color: white;
$call-to-action-color: blue;
$primary-neutral-color: #d3d3d3;
$secondary-neutral-color: #d6f5da;
$tertiary-neutral-color: black;
$secondary-background-color: mix(white, $secondary-neutral-color, 80%);

// fonts
$base-font-size: 110%;
$base-font-family: "Lato",sans-serif;
$primary-font-color: $tertiary-neutral-color;
$secondary-font-color: white;

// borders
$base-border-width: 2px;
$base-border-color: $primary-neutral-color;
$base-border-radius: 5px;

// margins and padding
$base-control-margin: 10px;
$base-section-margin: 35px;
$base-area-margin: 50px;
