// colors
$primary-background-color: #103d50;
$secondary-background-color: mix(white, $primary-background-color, 90%);
$tertiary-background-color: mix(white, $primary-background-color, 30%);
$call-to-action-color: #e05915;

// fonts
$primary-font-size: 110%;
$primary-font-family: "Lato",
sans-serif;
$primary-font-color: white;
$secondary-font-color: #400C30;

// borders
$border-width: 2px;
$border-radius: 2px;
$high-contrast-border-color: $primary-font-color;
$low-contrast-border-color: $tertiary-background-color;

// margins and padding
$control-margin: 10px;
$section-margin: 35px;
$area-margin: 50px;
