.workspace {
  padding: 5%;

  .area {
    background-color: $secondary-background-color;
    color: $secondary-font-color;
    border-radius: $border-radius * 3;
    padding: $area-margin / 2;
  }
}
