.workspace-right {
  padding: 50px;
  border-top: $base-border-width solid $base-border-color;
  border-right: $base-border-width solid $base-border-color;
  border-bottom: $base-border-width solid $base-border-color;
}
