@import "variables";
@import "call-to-action";

#app {
  >div {
    height: 100%;
    padding: 0;
    margin: 0;

    >div {
      min-height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  font-family: $primary_font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
  background-color: $primary-background-color;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;

  ul {
    list-style-type: none;
    margin: 0;
  }

  input {
    border: solid 1px $low-contrast-border-color;
    color: $secondary-font-color;
    padding-left: $control-margin/2;
    padding-right: $control-margin/2;
  }

  textarea {
    color: inherit;
    padding: $control-margin/2;
  }

  // controls
  @import "../controls/Loader";

  @import "workspace";
  @import "buttons";
  @import "tabs";
  @import "segmented-control";
  @import "checkbox";

  // components
  @import "../components/notifications/components/Notifications";

  // pages
  @import "../pages/admin/configured-events/components/Configured-Events";
  @import "../pages/admin/lifecycles/components/Lifecycles";
}
