@import "variables";
// @import "../components/styles/index";
// @import "../pages/home/styles/index";
// @import "../pages/transactions/styles/transactions-content";
// @import "../pages/authentication/styles/authentication";

#app {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  background-color: $base-background-color;
  height: 100%;

  ul {
    list-style-type: none;
  }

  @import "workspace";
  @import "tabs";
}
